alembic
aniso8601
cachelib
certifi
charset-normalizer
click
dataclasses
Flask
Flask-JWT
Flask-JWT-Extended
flask-marshmallow
Flask-Migrate
Flask-OAuthlib
Flask-RESTful
Flask-Reuploaded
Flask-SQLAlchemy
greenlet
idna
importlib-metadata
importlib-resources
itsdangerous
Jinja2
Mako
MarkupSafe
marshmallow
marshmallow-sqlalchemy
oauthlib
psycopg2
PyJWT
python-dotenv
pytz
requests
requests-oauthlib
six
SQLAlchemy
typing_extensions
urllib3
Werkzeug
zipp
uwsgi